:root {
  --body-padding: 40px;
}

html,
body {
  font-family: 'Open Sans';
  font-size: 14px;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  padding: var(--body-padding);
}

#model-container {
  position: relative;
  height: calc(100vh - var(--body-padding) * 2);
}

.explanations {
  position: absolute;
  color: white;
  padding: 20px;
}

.povs {
  position: absolute;
  bottom: 0;
  right: 0;
}

.view-commands,
.model-positions {
  display: flex;
  flex-direction: column;
}

.view-commands button:hover,
.model-positions button:hover {
  cursor: pointer;
  color: blue;
}

.control-points-list {
  position: absolute;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 10px;
}

.control-points-list h3 {
  margin: 0;
}

.list {
  margin: 10px 0 0;
  padding-left: 18px;
}

.list li {
  border: 1px solid transparent;
  padding: 2px 5px;
}

.list li:hover {
  cursor: pointer;
  border: 1px solid white;
}

#fullscreen {
  position: absolute;
  bottom: 0;
  width: 36px;
  height: 36px;
  cursor: pointer;
  background: url('./fullscreen.png') center no-repeat;
}
